header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.25rem 0;
    background: #0D0D0D;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* garante que o header fique acima de outros elementos */   z-index: 1000; /* garante que o header fique acima de outros elementos */
}

img {
    height: 3rem;
}